.add-task-button {
  text-indent: 20px;
  padding: 10px 25px 10px 5px !important;
}
.add-task-button:before {
  content: "+";
  left: -10px;
  position: absolute;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
