.noTasksMessage {
  margin: 10px 0;
  padding: 5px;
  max-width: 650px;
  border-radius: 10px;
  box-shadow: 0 0 2px 2px #e2e2e2;
  font-size: 1.2rem;
  color: #4b4b4b;
  font-weight: 700;
  background-color: #e2e2e2;
}
.tasksSection {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
}
.controlBlock {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.controlBlock_item {
  margin-right: 10px;
}
.controlBlock_item:nth-last-child(1) {
  margin-right: 0;
}
.toDoSection {
  margin-right: 20px;
}
.toDoSection:nth-last-child(1) {
  margin-right: 0;
}
