.currentTasksTable {
  box-shadow: 0 0 3px black;
  border-collapse: collapse;
  margin: 20px;
  border-radius: 15px;
  background-color: #004f9f;
  overflow: hidden;
}
.currentTasksTable__head {
  border-top: none;
}
.currentTasksTable__row .currentTasksTable__cell:nth-child(1),
.currentTasksTable__head .currentTasksTable__head-cell:nth-child(1) {
  border-left: none;
}
.currentTasksTable__row .currentTasksTable__cell:nth-last-child(1),
.currentTasksTable__head .currentTasksTable__head-cell:nth-last-child(1) {
  border-right: none;
}
.currentTasksTable__row:nth-last-child(1) .currentTasksTable__cell,
.currentTasksTable__row:nth-last-child(1) .currentTasksTable__cell_task-text {
  border-bottom: none;
}
.currentTasksTable__row {
  background-color: #9fcfff;
}
.currentTasksTable__row:nth-child(2n) {
  background-color: #d2e8ff;
}
.currentTasksTable__cell {
  border: 1px dotted white;
  padding: 5px;
  font-size: 1.1rem;
  max-width: 100px;
  text-align: center;
  vertical-align: center;
}
.currentTasksTable__cell_task-text {
  border: 1px dotted white;
  padding: 5px;
  font-size: 1.1rem;
  max-width: 100px;
  text-align: center;
  vertical-align: center;
  text-align: left;
}
.currentTasksTable__head-cell {
  border: 1px dotted white;
  padding: 5px;
  font-size: 1.1rem;
  max-width: 100px;
  text-align: center;
  vertical-align: center;
  font-size: 1.2rem;
  border-top: none;
  color: white;
}
.tableCaption {
  font-size: 1.5rem;
  font-weight: 800;
}
.execution-button {
  position: relative;
  font-size: 2rem;
  display: block;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
}
.execution-button:after {
  content: "";
  position: absolute;
  top: 20%;
  left: 38%;
  opacity: 0;
  height: 12px;
  width: 20px;
  border-left: 5px solid #66fd66;
  border-bottom: 5px solid #66fd66;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}
.execution-button:hover {
  color: #00366c;
  border-radius: 50%;
  background-color: rgba(0, 159, 138);
  color: rgba(0, 159, 138);
  box-shadow: 0 0 3px 0px rgba(0, 159, 138);
}
.execution-button:hover:after {
  display: block;
  transform: rotate(-45deg);
  opacity: 1;
}
